/.vs
/Contracts/obj
/Contracts/bin
/Entities/obj
/Entities/bin
/LoggerService/obj
/LoggerService/bin
/Logs
/Repository/obj
/Repository/bin
/UserRegistrationAPI/obj
/UserRegistrationAPI/bin
/UserRegistrationAPI/appsettings.json
/UserRegistration.API/obj
/UserRegistration.API/bin
/UserRegistration.Application/obj
/UserRegistration.Application/bin
/UserRegistration.Domain/obj
/UserRegistration.Domain/bin
/UserRegistration.Infrastructure/obj
/UserRegistration.Infrastructure/bin
